/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-11-23, 21:21:45
    Author     : Angela Słoma
*/
body {
    /* Szare tło pojawiające się za "kartką" */
    background-color: lightgray;

}
.container {
    /* Kolor kartki CV */
    background-color: #fff;
    border-width: 49.5em;
    height: auto;
    border-style: outset;
    border-width: thin;
    border-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 6em 4.68em;
    padding: 0em;
    /* Generator cienia */
    -webkit-box-shadow: 15px 15px 30px 10px rgba(36,36,36,1);
    -moz-box-shadow: 15px 15px 30px 10px rgba(36,36,36,1);
    box-shadow: 15px 15px 30px 10px rgba(36,36,36,1);
}

/* wygląd ikon */
i {
    color: lightgray; 
}


/* Styl nadany dla głowych informacji w CV */
.glowny-hdr {
    background-color: rgb(39, 37, 31);
    /* tekstura czarnego tła kartki */
    background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/01/Black-Construction-Paper-Texture..jpg);
    /* powtarzanie tła (kafelkowanie) - powtórzenie typu 'round' - wypełnienie likwidujące tzw. whitespace */
    background-repeat: round;
    color: whitesmoke;
    width: 40%;
    height: auto;
    /* pozycjonowanie .glowny-hdr ze wszystkimi danymi osobowymi - lewa strona "kartki"*/
    float: left;
}

/* Styl dla h1 w tabeli pn. glowny-hdr */
.glowny-hdr caption {
    padding: 40px;
    text-align: center;
}

.formularz {
    width: 100%;
}

/* styl dla wszystkich tabel po lewej stronie "kartki */
.glowne, .profil tr {
    width: 100%;
    text-align: justify;
}


/* Styl dla wierszy w nw. tabelach */
.glowne, .profil td {
    font-family: 'Open Sans', sans-serif;
    font-variant: normal;
    font-weight: 300;
    font-size: 14px;
    border-spacing: 5px;
}

/* Styl dla header'a w tabelach po lewej stronie "kartki" */
#th {
    font-family: 'Alegreya Sans', sans-serif;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 22px;
    text-align: left;

}

/* Styl dla linku w głównych informacjach, w tym dla odwiedzonego */
.glowne a:link, a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}

/* Wygląd linku po przesunięciu kursorem */
.glowne a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

/* Wygląd linku aktywnego */
.glowne a:active {
    color: magenta;
    background-color: transparent;
    text-decoration: none;
}

/* Wygląd linii do th */
hr {
    border: 0px; 
    height: 1px; 
    width: 100%;
    /* generator linii z efektem gradientu */
    background-image: -webkit-linear-gradient(left, transparent, #8c8b8b, transparent);
    background-image: -moz-linear-gradient(left, transparent, #8c8b8b, transparent);
    background-image: -ms-linear-gradient(left, transparent, #8c8b8b, transparent);
    background-image: -o-linear-gradient(left, transparent, #8c8b8b, transparent); 
}

/* wygląd buttona formularza kontaktowego 
#formShow {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px; 
}*/

/* Wygląd treści po prawej stronie "kartki" od danych osobowych */
.main-container {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalwhite.png);
    height: auto;
    width: 60%;
    float: right;
}

/* wygląd tytułowych danych (imię i nazwisko, rola) */
.title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: left;
    /* zmiana tekstu na kapitaliki */
    text-transform: uppercase;
    letter-spacing: 5px;
    /* odstęp między wierszami */
    line-height: 1.25;
}

/* imię i nazwisko */
h2 {
    font-size: 36px;
}

/* wypisana rola pod imieniem i nazwiskiem */
h3 {
    font-size: 18px;
}

/* Wygląd footera */ 
.main-ftr {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 10px;
    text-align: justify;
    /* odstęp między liniami tekstu */
    line-height: 1.75;
    opacity: 0.75;
    float: bottom;
}