/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-11-23, 21:21:45
    Author     : Angela Słoma
*/
body {
    /* Szare tło pojawiające się za "kartką" */
    background-color: lightgray;
}
.container {
    /* Kolor kartki CV */
    background-color: #fff;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalwhite.png);
    border-width: 49.5em;

    /* height? */
    height: auto;
    border-style: outset;
    border-width: thin;
    border-color: lightgray;
    font-family: "Tahoma";
    font-size: 14px;
    margin: 6em 4.68em;
    padding: 6em 4.68em;

    /* Generator cienia */
    -webkit-box-shadow: 15px 15px 30px 10px rgba(36,36,36,1);
    -moz-box-shadow: 15px 15px 30px 10px rgba(36,36,36,1);
    box-shadow: 15px 15px 30px 10px rgba(36,36,36,1);
}
/* wygląd ikon */
i {
color: lightgray; 
}


/* Styl nadany dla głowych informacji w CV */
.glowny-hdr {
    background-color: rgb(39, 37, 31);
    color: whitesmoke;
    width: 40%;
    height: auto;
}

/* Styl dla h1 w tabeli pn. glowny-hdr */
#profil h1 {
    padding: 20px;
    text-align: center;
}

/* Styl dla header'a w tabelach po lewej stronie "kartki" */
#glowne, #profil, #formularz h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 18px;
}

/* Styl dla wierszy w nw. tabelach */
#glowne, #profil td {
    font-family: 'Open Sans', sans-serif;
    font-variant: normal;
    font-weight: 300;
    font-size: 14px;
    border-spacing: 5px;
}

#formularz {
    width: 100%;
}

/* styl dla wszystkich tabel po lewej stronie "kartki */
#glowne, #profil tr {
    width: 100%;
    text-align: justify;
    border-collapse: collapse;
}

/* Styl dla linku w głównych informacjach, w tym dla odwiedzonego */
#glowne a:link, a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}

/* Wygląd linku po przesunięciu kursorem */
#glowne a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

/* Wygląd linku aktywnego */
#glowne a:active {
    color: magenta;
    background-color: transparent;
    text-decoration: none;
}

/* wygląd buttona formularza kontaktowego */
#formShow {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

/* Wygląd treści po prawej stronie "kartki" od danych osobowych
div main-container {
padding:;
margin:;
} */

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    text-align: left;
}

/* Wygląd footera */ 
.main-ftr {
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 10px;
    text-align: justify;
}

/* Wygląd boxów */
.boxes {
    height: 10px;
    width: 10px;
}