/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-11-23, 21:21:45
    Author     : Angela Słoma
*/

/* Szare tło pojawiające się za "kartką" */
body { background-color: rgb(217,217,214);}

h2 { font-size: 36px; }

h3 { font-size: 18px; }

i { color: rgb(217,217,214); margin: 10px; }

/* wcięcie tekstu w .profil */
p { line-height: 1.6; text-indent: 50px; }

th {
    font: small-caps 600 26px/2.5 Alegreya Sans, sans-serif;
    letter-spacing: 4px;
    text-align: left;
}

.glowne a:active {
    color: magenta;
    background-color: transparent;
    text-decoration: none;
}

.glowne a:hover {
    background-color: transparent;
    color: rgb(85,89,93);
    cursor: pointer;
    text-decoration: none;
}

/* styl dla linku w danych kontaktowych / link odwiedzony */
.glowne a:link, a:visited {
    background-color: transparent;
    color: whitesmoke;
    text-decoration: none;
}

#checkform:hover { background-color: grey; color: black; }

/* wygląd buttona odsłaniającego formularz */
#checkform {
    background-color: rgb(217,217,214);
    border: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.praca ol {
    list-style-position: outside;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

/* Styl dla zdjęcia w CV */
.profil caption { /* Skalowanie zdjęcia - aspekt ratio */ object-fit: contain;}

input[type=text]:focus, input[type=number]:focus { border: 3px solid #555; background-color: rgb(217,217,214); }

input[type=text], input[type=number] {
    border: 1px solid rgb(85,89,93);
    /* zaokrąglenie boxa */
    border-radius: 2px;
    /* włączenie paddingu i boardera w input (inaczej niż w property-box)*/
    box-sizing: border-box;
    margin: 5px 0;
    padding: 5px 10px;
    outline: none;
    transition: 0.25s;
    /* czas efekt przejścia (transition) efektu */
    -webkit-transition: 0.25s;
}

input[type=number] { width: 150px;}

input[type=text] { width: 310px; }

/* styl dla danych osobowych w <td> po prawej stronie */
.dane { font-size: 16px; }

/* wygląd td w tabelach w klasie .doświadczenie */
#subtytuly {
    font: small-caps 500 20px/2.5 Alegreya Sans, sans-serif;
    letter-spacing: 3px;
}

.praca td { padding: 10px; text-align: left; vertical-align: top }

/* styl dla wierszy w nw. tabelach */
.formularz, .glowne, .profil td {
    border-spacing: 7px;
    font: normal 300 14px/1.6 Open Sans, sans-serif;
}

#umiejetnosci td { width: 50%; }

#klauzula { padding: 20px; }

.praca ol li { margin-left: 20px; }

#b { border-left: 1px solid rgb(85,89,93); }

.praca { border-collapse: collapse; width: 100%; }

ul.kolo { list-style-type: square; }

#data { text-align: center; word-spacing: 5px; }

/* wygląd tabeli w klasie .doświadczenie */
#umiejetnosci { line-height: 2.0; width: 100%; }

#stanowisko { font-size: 16px; font-weight: 600; }

/* styl dla drugiego stopnia zagnieżdzonej listy  */
#zakladpracy { font-style: italic; list-style-type: none; }

/* (imię i nazwisko, rola) */
.tytul {
    font: small-caps normal Open Sans, sans-serif;
    line-height: 1.5;
    letter-spacing: 5px;
    text-align: left;
    /* zmiana tekstu na kapitaliki */
    text-transform: uppercase;
}

/* styl dla tabel po lewej stronie */
.formularz, .glowne, .profil { text-align: justify; width: 100%;}

.glowny-ftr {
    float: bottom;
    /* font-style, font-style, font-weight, font-size/line-height, font-family */
    font: italic normal 10px/1.75 Open Sans, sans-serif;
    height: auto;
    opacity: 0.75;
    text-align: justify;
    width: 100%;
}

/* wygląd dla divów i tabel po obu stronach "kartki" */ 
.lewy-container, .prawy-container { margin: 10px; padding: 20px; }

/* wygląd divów - prawej strony "kartki" */
.glowny-container {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalwhite.png);
    float: right;
    height: auto;
    width: 60%;
}

/* styl nadany dla głowych informacji w CV */
.glowny-hdr {
    /* tekstura czarnego tła kartki w url + kafelkowanie typu round likwidujące whitespace */
    background: rgb(39, 37, 31) url(https://images.freecreatives.com/wp-content/uploads/2016/01/Black-Construction-Paper-Texture..jpg) round left top;
    color: whitesmoke;
    /* pozycjonowanie */
    float: left;
    height: auto;
    width: 40%;
}

.container {
    /* kolor kartki */
    background-color: #fff;
    /* border: border-width, border-style, corder-color */ 
    border: thin outset rgb(217,217,214);
    font: 14px/1.6 Open Sans, sans-serif;
    height: auto;
    margin: 6em 4.68em;
    /* Generator cienia */
    box-shadow: 15px 15px 30px 10px rgba(36,36,36,1);
    -moz-box-shadow: 15px 15px 30px 10px rgba(36,36,36,1);
    -webkit-box-shadow: 15px 15px 30px 10px rgba(36,36,36,1);
}